.svgContainer,
.svgContainerDark {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.illustration,
.illustrationDark {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.illustration path,
.illustrationDark path {
  position: relative;
  z-index: 0;
}

.illustration .empty,
.illustration .muscle {
  fill: #757575;
}
.illustrationDark .empty,
.illustrationDark .muscle {
  fill: #25262b;
}
.muscleContainer {
  z-index: 1;
  cursor: pointer;
}

.illustration .muscle.enabled {
  fill: #bdbdbd;
}

.illustrationDark .muscle.enabled {
  fill: #5c5f66;
}

.muscle.enabled.hover {
  fill: var(--chart-2);
  cursor: pointer;
}

.muscle.enabled.active {
  fill: var(--chart-3);
}
